*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    width:100%;
    height:100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(104, 102, 106);
}

main #id_div-container{
    display: flex;
    flex-direction: row;
    min-height: 688px;
}

main .div-column{

    width: 29.5%;
    border-right: 2px solid black;
}

main .div-column2{
    width: 70.5%;   
    display: flex;
    flex-direction: column;
}

main .div-column2 .subTitle{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    font-style: oblique;
}

/*bloco em que ocorre a criação dos lançamentos(divs*/
main .div-column2 .div-lancamentos{
    height: 93%;
    border-radius: 6px;
}

/*dvi em que se encontra o botão remover todos*/
main .div-column2 .div-button-remove-all{
    height: 6%;
    padding: 4px;
    text-align: center;
}

main .car-form{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-bottom: 1px solid black;
}

h1{
    margin-top: 0.5cm;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

main .campos-input{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

main .campos-radios{
    margin: 30px 10px;
    margin-bottom: -10px;
    width: 230px;
    border: 2px solid white;
    border-radius: 8px;
}

label{
    margin-left: 5px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main div .inputs{
    width: 230px;
    font-size: 20px;
    border-radius: 6px;
    outline: none;
    background-color: rgb(213, 209, 209);
    margin-bottom: -10px;
}

main div .inputs:not(:disabled):hover{
    background-color:white;
    border: 2px solid red;
}

main div .inputs:focus{
border: 2px solid rgb(0, 0, 0) !important;
background-color: white !important;
outline: none;
}

main .main-radios-T{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4px 16px 0px 10px;
    
}

.main-radios-T .inside-div-radio-T{
    width:80px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .main-radios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px 6px;
}

.main-radios .inside-div-radio1-M{
    display: flex;
    flex-direction: row;
}

.main-radios .inside-div-radio-M{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.main-radios .inside-div-radio1-D{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.main-radios .inside-div-radio-D{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.radio-check-P{
    margin-left:2px;
    border: 0px;
    width: 15px;
    height: 20px;
    cursor: pointer;
}

.spam-num{
    font-size: 20px;
}

.radio-check-D{
    margin-top: 2px;
    margin-left:2px;
    border: 0px;
    width: 15px;
    height: 20px;
    cursor: pointer;
}

/*div que encontram-se os botões LANÇAR e LIMPAR*/
main .div-column .div-button{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 10px 10px;
}

/*CSS de todos os botões existentes no formulário*/
.button, .button-remove{
    width: 85px;
    border-radius: 4px;
    font-size: 18px;
}

.button:hover, .button-remove:hover{
    background-color: rgb(177, 176, 177);
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.button:active, .button-remove:active{
    border: 1px solid white;
}
/*fim do CSS padrão dos botões existentes no formulário*/

/*Essa class é do botão criado direto pelo botão Lançar do formulário*/
.button-remove{
    margin-left:30px;
    margin-top: 5px;
}

#id_button_remove{
    width: 140px;
}

/*Essa div é criada direto pelo botão Lançar do formulário*/
main .div-column2 .div-lancamentos .launchs{
    width: 27%;
    min-height: 180px;
    background-color: rgb(161, 160, 160);
    border: 2px solid rgb(18, 18, 18);
    border-radius:4px;
    margin: 10px 15px 10px 20px;
    padding: 5px;
    display: inline-block;
}

/*ocultar a scroll do input type=number em praticamente todos navegadores*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}